[Boot]

## If you enable the bootp server in vomp.conf, you can specify
## an IP to give out to this MVP here.

# IP = 10.0.0.100

## If you have a router that gives out addresses but you want
## the above address forced to the MVP, set this:

# Override IP = 1

## A file name to send to the MVP. The MVP will then request
## this file from the TFTP server. Don't use a path here!

# TFTP file name = vomp-dongle

[General]

## The client auto-detects whether to use PAL or NTSC. If you
## want to force the other one, set it here. Beware of popping
## your TV with this one!

# Override Video Format = NTSC

